:root {
  --hue: 0;

  --primary: hsl(var(--hue), 40%, 60%);
  --secondary: hsl(var(--hue), 40%, 40%);
  --tertiary: hsl(calc(180 + var(--hue)), 40%, 80%);

  --shadow: hsla(var(--hue), 40%, 20%, 0.9);
  --shadow-inverse: hsla(calc(180 + var(--hue)), 40%, 20%, 0.9);
}

body {
  --bg-hue: calc(270 + var(--hue));
  --bg-col: hsl(var(--bg-hue), 20%, 80%);
  --bg-grad-col: hsl(var(--bg-hue), 20%, 77%);

  background-image: radial-gradient(var(--bg-grad-col) 16px, transparent 16px),
    radial-gradient(var(--bg-grad-col) 16px, transparent 16px);
  background-size: 128px 128px;
  background-position:
    0 0,
    64px 64px;
  background-color: var(--bg-col);
  background-repeat: repeat;
  animation: bg-scroll 5s linear infinite;

  font-family: "Maple Mono", monospace;
}

@keyframes bg-scroll {
  0% {
    background-position: 0 0, 64px 64px;
  }
  100% {
    background-position: 64px 64px, 128px 128px;
  }
}

a {
  background-color: var(--tertiary);
  color: black;
  filter: drop-shadow(8px 8px 0 var(--shadow));

  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;

  border-radius: 16px;
  display: block;
  padding: 1rem;
}

a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  background-color: var(--primary);
  filter: drop-shadow(8px 8px 0 var(--shadow-inverse));

  animation:
    a-wiggle-start 0.25s 1 ease-in-out,
    a-wiggle-loop 1s 0.25s ease-in-out infinite;
}

@keyframes a-wiggle-start {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes a-wiggle-loop {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes h1-wiggle {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
